package homepage

import (
	"portfolioed/internal/modules/root/components"
	"portfolioed/ui"
)

templ HomePage() {
	@ui.BaseComponent("", "HomePage", true) {
		// @ui.CurtainAnimation()
		<div class="flex flex-col lg:flex-row flex-auto min-h-auto lg:min-h-screen lg:max-h-screen p-4 gap-2.5">
			@components.HeroSection()
			@components.MenuSection()
		</div>
	}
}
